<div #swiperRef="" id="carouselExampleCaptions" class="swiper mySwiper">
  <div class="swiper-wrapper">
    <% dataSwiper.forEach(post => { %>
         <div class="swiper-slide">
      <img
        src= <%= post.img %>
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-item-info infor d-md-block d-sm-block d-xs-block">
        <!-- The categories -->

        <div class="carousel-category">
          <a
            href="post/<%= post._id %>"
            rel="category tag"
            ><%= post.category %></a
          >
        </div>

        <!-- Get The Title -->
        <h2 class="carousel-title">
          <a href="post/<%= post._id %>"
            ><%= post.title %></a
          >
        </h2>

        <!-- Get the Date -->
        <div class="carousel-date"><%= post.date %></div>
      </div>
    </div>
    <% }) %>


  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {

    slidesPerGroup: 1,
    spaceBetween: 0,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      480: {
        slidesPerView: 1,
      },
      720: {
        slidesPerView: 2,
      },
      // Assuming 1024 as a typical desktop width. Adjust as needed.
      1024: {
        slidesPerView: 3,
      },
    }
  });
</script>
