

    
<footer class="footer-wrap">
  <!--  Get Options -->

  <!-- Get footer Widget -->
  <div class="footer-instagram" data-instscroll="on_scroll">
    <div
      id="custom_html-3"
      class="widget_text inst-widget widget_custom_html"
      style="bottom: -1px"
    >
      <div class="instagram-title"><h3><%= locals.footer.insta_title  %></h3></div>
      <div class="textwidget custom-html-widget">
        <ul class="null-instagram-feed inst-col-8">
          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/p/BMEuO2bDSE8/?utm_source=ig_web_copy_link"
              rel="noopener"
              style="width: calc(12.5%)"
            >
              <img
                src=<%= locals.footer.image1  %>
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/p/BMEuNPGDbxw/?utm_source=ig_web_copy_link"
              rel="noopener"
              style="width: calc(12.5%)"
            >
              <img
                src=<%= locals.footer.image2  %>
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/p/BMEuL3CjVMi/?utm_source=ig_web_copy_link"
              rel="noopener"
              style="width: calc(12.5%)"
            >
              <img
                src=<%= locals.footer.image3  %>
                alt=""
              />
            </a>
          </li>

          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/p/BMEuKg4jLar/?utm_source=ig_web_copy_link"
              rel="noopener"
              style="width: calc(12.5%)"
            >
              <img
                src=<%= locals.footer.image4  %>
                alt=""
              />
            </a>
          </li>

          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/p/BMEuIoUDwPw/?utm_source=ig_web_copy_link"
              rel="noopener"
              style="width: calc(12.5%)"
            >
              <img
                src=<%= locals.footer.image5 %>
                alt=""
              />
            </a>
          </li>

          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/p/BMEuHHwjYrf/?utm_source=ig_web_copy_link"
              rel="noopener"
              style="width: calc(12.5%)"
            >
              <img
                src=<%= locals.footer.image6  %>
                alt=""
              />
            </a>
          </li>

          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/p/BMEuEbLDMlH/?utm_source=ig_web_copy_link"
              rel="noopener"
              style="width: calc(12.5%)"
            >
              <img
                src=<%= locals.footer.image7  %>
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/p/BMEuC7HjQu3/?utm_source=ig_web_copy_link"
              rel="noopener"
              style="width: calc(12.5%)"
            >
              <img
                src=<%= locals.footer.image8  %>
                alt=""
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- end widget -->
    <div class="footer-social">
      <a href="http://facebook.com" target="_blank"
        ><i class="fa fa-facebook"></i
        ><span class="social-info"><%= locals.footer.facebook  %></span></a
      ><a href="http://twitter.com" target="_blank"
        ><i class="fa fa-twitter"></i
        ><span class="social-info"><%= locals.footer.twitter  %></span></a
      ><a href="http://linkedin.com" target="_blank"
        ><i class="fa fa-linkedin"></i
        ><span class="social-info"><%= locals.footer.linkedin  %></span></a
      ><a href="http://bloglovin.com" target="_blank"
        ><i class="fa fa-heart"></i
        ><span class="social-info"><%= locals.footer.bloglovin  %></span></a
      ><a href="http://www.tumblr.com" target="_blank"
        ><i class="fa fa-tumblr"></i><span class="social-info"><%= locals.footer.tumblr  %></span></a
      ><a href="http://pinterest.com" target="_blank"
        ><i class="fa fa-pinterest"></i
        ><span class="social-info"><%= locals.footer.pinterest  %></span></a
      ><a href="http://instagram.com" target="_blank"
        ><i class="fa fa-instagram"></i
        ><span class="social-info"><%= locals.footer.instagram  %></span></a
      >
    </div>
  </div>

  <div class="footer-widget-area">
    <div class="center-max-width">
      <div class="clear"></div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="center-max-width">
      <!-- Footer Logo -->
      <div class="footer-logo">
        <a
          href="https://infinitythemes.ge/aden-examples/"
          title="Aden Examples"
        >
          <img
            src=<%= locals.footer.footer_logo  %>
            alt="Aden Examples"
          />
        </a>
      </div>

      <!-- Copyright -->
      <div class="copyright">
        <p><%= locals.footer.copyright  %></p>
      </div>

      <!-- Scroll top button -->
      <span class="scrolltotop">
        <i class="fa fa-angle-double-up"></i>
        <br />
        Back to top
      </span>

      <div class="clear"></div>
    </div>
  </div>
</footer>
