
  <header class="header">
    <div class="header-top">
      <div class="center-max-width">
        
  
        <div class="header-top-social">
          <a href="http://facebook.com" target="_blank">
            <i class="fa fa-facebook"></i>
            <span class="social-info">Facebook</span>
          </a>
          <a href="http://twitter.com" target="_blank">
            <i class="fa fa-twitter"></i>
            <span class="social-info">Twitter</span>
          </a>
          <a href="http://linkedin.com" target="_blank">
            <i class="fa fa-linkedin"></i>
            <span class="social-info">Linkedin</span>
          </a>
          <a href="http://bloglovin.com" target="_blank">
            <i class="fa fa-heart"></i>
            <span class="social-info">Bloglovin</span>
          </a>
          <a href="http://www.tumblr.com" target="_blank">
            <i class="fa fa-tumblr"></i>
            <span class="social-info">Tumblr</span>
          </a>
          <a href="http://pinterest.com" target="_blank">
            <i class="fa fa-pinterest"></i>
            <span class="social-info">Pinterest</span>
          </a>
          <a href="http://instagram.com" target="_blank">
            <i class="fa fa-instagram"></i>
            <span class="social-info">Instagram</span>
          </a>
        </div>
        <nav class="top-nav">
          <ul>
            <li>
              <a href="mailto:contact.infinitythemes@gmail.com">
                <i class="fa fa-envelope-o"></i>
                <%= locals.header.mail  %>
              </a>
            </li>
            <li>
              <a href="http://themeforest.net/user/infinity-themes">
                <i class="fa fa-phone"></i>
              <%= locals.header.phone  %>
              </a>
            </li>
          </ul>
        </nav>
        <div class="clear"></div>
      </div>
    </div>
    <div class="header-center">
      <div class="center-max-width">
        <!-- header  Logo -->
        <div class="logo">
          <a
            href="/"
            title="Aden Examples"
          >
            <img
              src= <%= locals.header.logo  %>
              alt="Aden Examples"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="center-max-width">
        <!-- <div class="nav-btn">
          <i class="fa fa-bars"></i>
        </div> -->
  
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <di class="collapse navbar-collapse menu-overlay" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Home
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    <li>
                      <a
                        class="dropdown-item"
                        href="https://infinitythemes.ge/aden-examples/home-v1/"
                      >
                        Home Classic v1
                      </a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="https://infinitythemes.ge/aden-examples/home-v2/"
                      >
                        Home Classic v2
                      </a>
                    </li>
                    <!-- ... other items ... -->
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownMenuLink2"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Features
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMenuLink2"
                  >
                    <li>
                      <a
                        class="dropdown-item"
                        href="https://www.infinitythemes.ge/aden-examples/?p=23"
                      >
                        Standard format
                      </a>
                    </li>
                    <!-- ... other items ... -->
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    href="https://infinitythemes.ge/aden-examples/contact/"
                  >
                    Contact Us
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    href="https://themeforest.net/item/aden-responsive-wordpress-blog-theme/14157509?ref=Infinity-Themes"
                  >
                    Buy
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
  
        <div class="clear"></div>
      </div>
    </div>
  </header>