<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://infinitythemes.ge/aden-examples/?fbclid=IwAR126uSuFcapLhcuT-hCtuxr8QfWixl5qc2gVhfzGHTEeLQTdztdF-5AXVg" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/carousel.css">
    <meta name="description" content="Đây là mô tả ngắn gọn về nội dung của trang, giúp người dùng và công cụ tìm kiếm hiểu rõ hơn về nội dung trang.Đọc những bài viết mới nhất, cập nhật và phân tích sâu sắc từ các chuyên gia của chúng tôi. Tìm hiểu và chia sẻ kiến thức cùng cộng đồng.">
    <script type="text/javascript" defer src="/js/script.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title><%= locals.title %></title>
  </head>

  <body>
    <div class="main-wrap">
      <%- include('../partials/header.ejs') %>
      <%- include('../partials/carousel.ejs') %>
      <%- body %>
      <%- include('../partials/footer.ejs') %>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>