<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<h1 class="text-center">Add Post</h1>
<script>
  class CustomBlock {
    static get toolbox() {
      return {
        title: "CustomBlock",
        icon: '<i class="fas fa-pencil-alt"></i>', // Example icon using FontAwesome. You can use any SVG icon here.
      };
    }

    constructor({ data }) {
      this.data = data;
      this.container = undefined;
    }

    render() {
      this.container = document.createElement("div");

      // Title Input
      const titleInput = document.createElement("input");
      titleInput.classList.add("simple-image");
      titleInput.placeholder = "Enter Title...";
      titleInput.value = this.data.title || "";
      this.container.appendChild(titleInput);

      // Category Dropdown
      const categoryDropdown = document.createElement("input");
      categoryDropdown.classList.add("simple-image");
      categoryDropdown.placeholder = "Enter Category...";
      categoryDropdown.value = this.data.category || "";
      this.container.appendChild(categoryDropdown)
      // Content Textarea
      const contentTextarea = document.createElement("textarea");
      contentTextarea.classList.add("simple-image");
      contentTextarea.placeholder = "Enter Content...";
      contentTextarea.value = this.data.content || "";
      this.container.appendChild(contentTextarea);
      // Date
      const timeInput = document.createElement("input");
      timeInput.type = "datetime-local"; // for date and time input
      timeInput.classList.add("simple-image");
      timeInput.classList.add("time");
      timeInput.placeholder = "Select time...";
      if (this.data.time) {
        timeInput.value = new Date(this.data.time)
          .toISOString()
          .replace(".000", "");
      }
      this.container.appendChild(timeInput);
      // Image URL Input
      const imageUrlInput = document.createElement("input");
      imageUrlInput.classList.add("simple-image");
      imageUrlInput.placeholder = "Paste Image URL...";
      imageUrlInput.value = this.data.image || "";
      imageUrlInput.addEventListener("input", (event) => {
        this._createImage(imageUrlInput.value);
      });
      this.container.appendChild(imageUrlInput);
      // Image display container
      this.imageContainer = document.createElement("div");
      if (this.data.image) {
        this._createImage(this.data.image);
      }
      this.container.appendChild(this.imageContainer);
      return this.container;
    }
    _createImage(url) {
      this.imageContainer.innerHTML = ""; // clear any previous images

      if (url.trim() !== "") {
        const image = document.createElement("img");
        image.src = url;
        image.classList.add("simple-image");
        this.imageContainer.appendChild(image);
      }
    }
    save(blockContent) {
      const titleValue = blockContent.querySelector("input").value;
      const categoryValue = blockContent.querySelectorAll("input")[1].value;
      const contentValue = blockContent.querySelector("textarea").value;
      const dateValue = document.querySelector(".time").value;
      const dateObject = new Date(dateValue);
      const imageUrlValue = blockContent.querySelectorAll("input")[3].value;

      return {
        title: titleValue,
        category: categoryValue,
        body: contentValue,
        img: imageUrlValue,
        date: dateObject,
      };
    }
  }
</script>
<div id="editorjs"></div>
<button id="save-button" class="btn btn-outline-success">Save</button>
<pre id="output"></pre>
<script>
  // Now instantiate EditorJS and set up your event listener
  const editor = new EditorJS({
    autofocus: true,
    holder: "editorjs",
    tools: {
      customBlock: CustomBlock,
    },
  });

  // Save Button Logic
  const saveButton = document.getElementById("save-button");
  const output = document.getElementById("output");
  saveButton.addEventListener("click", () => {
    editor.save().then(async (savedData) => {
      output.innerHTML = JSON.stringify(savedData.blocks[0].data, null, 4);
      const postData = {
        title: savedData.blocks[0].data.title,
        category: savedData.blocks[0].data.category,
        body: savedData.blocks[0].data.body,
        img: savedData.blocks[0].data.img,
        date: savedData.blocks[0].data.date,
      };
      try {
        const response = await fetch("/admin/add", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(postData),
        });
        const data = await response.json();
        console.log(data);
        if (data.success) {
          alert("Data saved successfully!"); // Alert success
          window.location.href = "/dashboard"; // Redirect to dashboard
        } else {
          alert("Error saving post.");
        }
      } catch (error) {
        console.error("There was an error saving the post:", error);
      }
    });
  });
</script>
