<!-- Begin Page Content -->
<div class="main__content">
  <div class="container">
    <div class="add__post">
      <button class="add-icon mb-3">
        <a href="/admin/add" class="add">+</a>
      </button>
      <div class="text">Add Post</div>
    </div>

    <div class="row justify-content-center text-center">
      <% data.forEach(post => { %>
      <div class="mb-4 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card" id="post_<%= post._id %>">
          <img src="<%= post.img %>" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><%= post.title%></h5>
            <p class="card-text"><%= post.body %></p>
            <button
              type="button"
              class="btn btn-outline-dark col-4"
              id="btn_edit"
              data-id="<%= post._id %>"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-outline-danger col-4"
              id="btn_delete"
              data-id="<%= post._id %>"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

