<div class="card d-flex justify-content-center align-items-center card-custom">
  <div class="card-body w-50">
    <form action="/admin/edit/<%= data._id %>?_method=PUT" method="POST">
      <div class="text-center">
        <h1>Edit Post</h1>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          value="<%= data.title %>"
        />
      </div>
      <div class="mb-3">
        <label for="Category" class="form-label">Category</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="category"
          value="<%= data.category %>"
        />
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Image URl</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="img"
          value="<%= data.img %>"
        />
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Content</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="body"
          value="<%= data.body %>"
        />
      </div>
      <div class="form-group">
        <label for="dateInput">Choose a date:</label>
        <input
          type="date"
          class="form-control"
          id="dateInput"
          name="date"
          value="<%= formattedDate %>"
        />
      </div>
      <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
  </div>
</div>
