<div class="carousel-quote" style="cursor: pointer">
  <p class="text-center mt-3 text-container">MOST POPULAR ADEN POSTS</p>
</div>
<div class="main-container-wrap clearfix">
  <div class="center-max-width clearfix">
    <div class="main-container">
      <article>
        <div class="entry-standard">
          <figure class="entry-thumbnail w-100">
            <a
              href="/post/<%= data[2]._id %>/<%= toSeoUrl(data[2].title) %>"
            ></a>
            <img src="<%= data[2].img %>" alt="image" class="w-100" />
          </figure>
        </div>

        <header class="entry-header">
          <div class="meta-categories">
            <a
              href="/post/<%= data[2]._id %>/<%= toSeoUrl(data[2].title) %>"
              rel="category tag"
              class="text-black"
            >
              <%= data[2].category %>
            </a>
            <h2 class="post-title">
              <a
                class="fs-2 fw-normal text-capitalize"
                href="/post/<%= data[2]._id %>/<%= toSeoUrl(data[2].title) %>"
              >
                <%= data[2].title %>
              </a>
            </h2>
            <div class="meta-author-date">
              <a
                href="https://infinitythemes.ge/aden-examples/author/admin/"
                rel="author"
              >
                admin
              </a>
              &nbsp;/&nbsp; <%= data[2].date.toDateString() %>
            </div>
          </div>
        </header>
        <div class="entry-content">
          <p class="drop-cap">
            Donec enim eros, lacinia hendrerit interdum vitae, porta eget dui.
            Sed purus eros, varius facilisis velit mal adplmia tincidunt sapien.
            Donec porta erat nunc, vel facilisis purus placerat vel. Nunc
            accumsan tristique orci, at feugiaet nornaritor ut. Donec iaculis
            varius ligula, eget condim nientum nisl tincidunt ac. Donec vitae
            libermo nacormune no defint oneim viscu, apetere moderatius conten
            tones proue oratio aliquam salutatus cuma. Vis solum nuquamt, senisa
            moderatius quaer nidum refer entur no, adse elitra invidunt.
            Repudiare adver sarium vitup eratoribus velain cidlent kvani olum
            num quam ut, eosenis. Esent comune no tionem viscu, apetere
            moderatius dilamo conteionres kien eipro. Eu oratio aliquam adsed
            ferri elitr invidunt….
          </p>
          <div class="read-more text-center">
            <a href="/post/<%= data[2]._id %>/<%= toSeoUrl(data[2].title) %>">view post</a>
          </div>
        </div>
        <footer class="entry-footer text-center mt-4">
          <div class="meta-share-wrap">
            <div class="meta-share">
              <a
                class="facebook-share"
                target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/"
              >
                <i class="fa fa-facebook"></i>
                <span class="share-info">Facebook</span>
              </a>

              <a
                class="twitter-share"
                target="_blank"
                href="https://twitter.com/intent/tweet?text=Discover%20Your%20Style&amp;url=https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/"
              >
                <i class="fa fa-twitter"></i>
                <span class="share-info">Twitter</span>
              </a>

              <a
                class="googleplus-share"
                target="_blank"
                href="https://plus.google.com/share?url=https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/"
              >
                <i class="fa fa-google-plus"></i>
                <span class="share-info">Google +</span>
              </a>

              <a
                class="linkedin-share"
                target="_blank"
                href="http://www.linkedin.com/shareArticle?url=https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/&amp;title=Discover%20Your%20Style"
              >
                <i class="fa fa-linkedin"></i>
                <span class="share-info">Linkedin</span>
              </a>

              <a
                class="tumblr-share"
                target="_blank"
                href="http://www.tumblr.com/share/link?url=https%3A%2F%2Finfinitythemes.ge%2Faden-examples%2F2015%2F09%2F27%2Fstandart-post%2F&amp;name=Discover+Your+Style&amp;description=Donec+enim+eros%2C+lacinia+hendrerit+interdum+vitae%2C+porta+eget+dui.+Sed+purus+eros%2C+varius+facilisis+velit+mal+adplmia+tincidunt+sapien.+Donec+porta+erat+nunc%2C+vel+facilisis+purus+placerat+vel.+Nunc+accumsan+tristique+orci%2C+at+feugiaet+nornaritor+ut.+Donec+iaculis+varius+ligula%2C+eget+condim+nientum+nisl+tincidunt+ac.+Donec+vitae+libermo+nacormune+no+defint+oneim+viscu%2C+apetere+moderatius+conten+tones+proue+oratio+aliquam+salutatus+cuma.+Vis+solum+nuquamt%2C+senisa+moderatius+quaer+nidum+refer+entur+no%2C+adse+elitra+invidunt.+Repudiare+adver+sarium+vitup+eratoribus+velain+cidlent+kvani+olum+num+quam+ut%2C+eosenis.+Esent+comune+no+tionem+viscu%2C+apetere+moderatius+dilamo+conteionres+kien+eipro.+Eu+oratio+aliquam+adsed+ferri+elitr+invidunt...."
              >
                <i class="fa fa-tumblr"></i>
                <span class="share-info">Tumblr</span>
              </a>
            </div>
          </div>
        </footer>
      </article>
      <div class="row">
        <% data.forEach(post => { %>
        <div class="col-sm-6 mt-4">
          <div class="entry-standard">
            <figure class="entry-thumbnail">
              <a href="/post/<%= post._id %>/<%= toSeoUrl(post.title) %>"></a>
              <img src="<%= post.img %>" alt="image" />
            </figure>
          </div>

          <header class="entry-header">
            <div class="meta-categories">
              <a
                href="https://infinitythemes.ge/aden-examples/category/nature/"
                rel="category tag"
                class="text-black"
              >
                <%= post.category %>
              </a>
              <h2 class="post-title">
                <a
                  class="fs-2 fw-normal text-capitalize"
                  href="/post/<%= post._id %>/<%= toSeoUrl(post.title) %>"
                >
                  <%= post.title %>
                </a>
              </h2>
            </div>
          </header>
          <div class="entry-content">
            <p class="drop-cap"><%= post.body %></p>
          </div>
          <footer class="entry-footer text-center mt-4">
            <div class="meta-share-wrap">
              <div class="meta-author-date">
                <a
                  href="https://infinitythemes.ge/aden-examples/author/admin/"
                  rel="author"
                >
                  admin
                </a>
                &nbsp;/&nbsp; <%= post.date.toDateString() %>
              </div>
              <div class="meta-share">
                <a
                  class="facebook-share"
                  target="_blank"
                  href="https://www.facebook.com/sharer/sharer.php?u=https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/"
                >
                  <i class="fa fa-facebook"></i>
                  <span class="share-info">Facebook</span>
                </a>

                <a
                  class="twitter-share"
                  target="_blank"
                  href="https://twitter.com/intent/tweet?text=Discover%20Your%20Style&amp;url=https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/"
                >
                  <i class="fa fa-twitter"></i>
                  <span class="share-info">Twitter</span>
                </a>

                <a
                  class="googleplus-share"
                  target="_blank"
                  href="https://plus.google.com/share?url=https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/"
                >
                  <i class="fa fa-google-plus"></i>
                  <span class="share-info">Google +</span>
                </a>

                <a
                  class="linkedin-share"
                  target="_blank"
                  href="http://www.linkedin.com/shareArticle?url=https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/&amp;title=Discover%20Your%20Style"
                >
                  <i class="fa fa-linkedin"></i>
                  <span class="share-info">Linkedin</span>
                </a>

                <a
                  class="tumblr-share"
                  target="_blank"
                  href="http://www.tumblr.com/share/link?url=https%3A%2F%2Finfinitythemes.ge%2Faden-examples%2F2015%2F09%2F27%2Fstandart-post%2F&amp;name=Discover+Your+Style&amp;description=Donec+enim+eros%2C+lacinia+hendrerit+interdum+vitae%2C+porta+eget+dui.+Sed+purus+eros%2C+varius+facilisis+velit+mal+adplmia+tincidunt+sapien.+Donec+porta+erat+nunc%2C+vel+facilisis+purus+placerat+vel.+Nunc+accumsan+tristique+orci%2C+at+feugiaet+nornaritor+ut.+Donec+iaculis+varius+ligula%2C+eget+condim+nientum+nisl+tincidunt+ac.+Donec+vitae+libermo+nacormune+no+defint+oneim+viscu%2C+apetere+moderatius+conten+tones+proue+oratio+aliquam+salutatus+cuma.+Vis+solum+nuquamt%2C+senisa+moderatius+quaer+nidum+refer+entur+no%2C+adse+elitra+invidunt.+Repudiare+adver+sarium+vitup+eratoribus+velain+cidlent+kvani+olum+num+quam+ut%2C+eosenis.+Esent+comune+no+tionem+viscu%2C+apetere+moderatius+dilamo+conteionres+kien+eipro.+Eu+oratio+aliquam+adsed+ferri+elitr+invidunt...."
                >
                  <i class="fa fa-tumblr"></i>
                  <span class="share-info">Tumblr</span>
                </a>
              </div>
            </div>
          </footer>
        </div>
        <% }) %>
      </div>

      <% if (nextPage !== null) { %>
      <div class="mt-5">
        <a href="/?page=<%= nextPage %>">&lt; View Older Posts</a>
      </div>
      <% } %>
    </div>

    <aside class="main-sidebar">
      <div id="search-2" class="adenit-widget widget_search">
        <div class="widget-title line-through"><h3>search</h3></div>
        <div class="search">
          <form action="/search" method="POST" role="search">
            <input
              id="s"
              class="search_input"
              type="text"
              name="searchTerm"
              maxlength="30"
              placeholder="Search..."
            />
            <button type="submit" class="submit button" name="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
      <div
        id="custom_html-4"
        class="widget_text adenit-widget widget_custom_html"
      >
        <div class="widget-title"><h3>Instagram</h3></div>
        <div class="textwidget custom-html-widget instagram">
          <div class="instagram-grid">
            <img
              src="https://infinitythemes.ge/images/instagram/9.jpg"
              alt="Image 1"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/8.jpg"
              alt="Image 2"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/7.jpg"
              alt="Image 3"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/6.jpg"
              alt="Image 4"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/5.jpg"
              alt="Image 5"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/4.jpg"
              alt="Image 6"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/3.jpg"
              alt="Image 7"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/2.jpg"
              alt="Image 7"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/1.jpg"
              alt="Image 8"
            />
          </div>
        </div>
      </div>
      <div id="categories-3" class="adenit-widget widget_categories">
        <div class="widget-title"><h3>Categories</h3></div>
        <ul>
          <li class="cat-item cat-item-2">
            <a
              href="https://infinitythemes.ge/aden-examples/category/creative/"
            >
              Creative
            </a>
            (3)
          </li>
          <li class="cat-item cat-item-3">
            <a href="https://infinitythemes.ge/aden-examples/category/fashion/">
              Fashion
            </a>
            (1)
          </li>
          <li class="cat-item cat-item-4">
            <a
              href="https://infinitythemes.ge/aden-examples/category/lifestyle/"
            >
              Lifestyle
            </a>
            (2)
          </li>
          <li class="cat-item cat-item-5">
            <a href="https://infinitythemes.ge/aden-examples/category/nature/">
              Nature
            </a>
            (4)
          </li>
          <li class="cat-item cat-item-6">
            <a href="https://infinitythemes.ge/aden-examples/category/travel/">
              Travel
            </a>
            (2)
          </li>
        </ul>
      </div>
      <div id="text-2" class="adenit-widget widget_text">
        <div class="textwidget">
          <img
            src="https://www.infinitythemes.ge/aden/wp-content/uploads/2015/12/banner-2.jpg"
            alt="banner"
          />
        </div>
      </div>
      <div id="tag_cloud-2" class="adenit-widget widget_tag_cloud">
        <div class="widget-title"><h3>tag cloud</h3></div>
        <div class="tagcloud">
          <a
            href="https://infinitythemes.ge/aden-examples/tag/beauty/"
            class="tag-cloud-link tag-link-7 tag-link-position-1"
            style="font-size: 19.2pt"
            aria-label="beauty (5 items)"
          >
            beauty
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/bicycle/"
            class="tag-cloud-link tag-link-8 tag-link-position-2"
            style="font-size: 8pt"
            aria-label="bicycle (1 item)"
          >
            bicycle
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/health/"
            class="tag-cloud-link tag-link-10 tag-link-position-3"
            style="font-size: 12.2pt"
            aria-label="Health (2 items)"
          >
            Health
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/holidays/"
            class="tag-cloud-link tag-link-11 tag-link-position-4"
            style="font-size: 17.333333333333pt"
            aria-label="Holidays (4 items)"
          >
            Holidays
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/inspiration/"
            class="tag-cloud-link tag-link-12 tag-link-position-5"
            style="font-size: 22pt"
            aria-label="inspiration (7 items)"
          >
            inspiration
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/music/"
            class="tag-cloud-link tag-link-13 tag-link-position-6"
            style="font-size: 8pt"
            aria-label="music (1 item)"
          >
            music
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/quote/"
            class="tag-cloud-link tag-link-14 tag-link-position-7"
            style="font-size: 8pt"
            aria-label="quote (1 item)"
          >
            quote
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/sunset/"
            class="tag-cloud-link tag-link-15 tag-link-position-8"
            style="font-size: 8pt"
            aria-label="sunset (1 item)"
          >
            sunset
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/swim/"
            class="tag-cloud-link tag-link-16 tag-link-position-9"
            style="font-size: 8pt"
            aria-label="swim (1 item)"
          >
            swim
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/time/"
            class="tag-cloud-link tag-link-17 tag-link-position-10"
            style="font-size: 8pt"
            aria-label="time (1 item)"
          >
            time
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/trendy/"
            class="tag-cloud-link tag-link-18 tag-link-position-11"
            style="font-size: 15pt"
            aria-label="trendy (3 items)"
          >
            trendy
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/weekend/"
            class="tag-cloud-link tag-link-19 tag-link-position-12"
            style="font-size: 12.2pt"
            aria-label="weekend (2 items)"
          >
            weekend
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/women/"
            class="tag-cloud-link tag-link-20 tag-link-position-13"
            style="font-size: 12.2pt"
            aria-label="women (2 items)"
          >
            women
          </a>
        </div>
      </div>
    </aside>
  </div>
</div>
