<div class="main-container-wrap" style="opacity: 1;">
  <div class="center-max-width clearfix">
    <div class="main-container ">
      <!-- Single Post -->

      <article
        id="post-152"
        class="post-152 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-beauty tag-inspiration tag-trendy adenit-single-post"
      >
        <!-- Post Media -->

        <div class="entry-standard"></div>
        <!-- Post Header -->
        <header class="entry-header">
          <div class="meta-categories">
            <a
              href="https://infinitythemes.ge/aden-examples/category/lifestyle/"
              rel="category tag"
            >
              <%= data.category %>
            </a>
          </div>
          <!-- Post Title -->
          <h1 class="post-title text-center"><%= data.title %></h1>

          <!-- Date And Author -->
          <div class="meta-author-date">
            <a
              href="https://infinitythemes.ge/aden-examples/author/admin/"
              rel="author"
            >
              admin
            </a>
            &nbsp;/&nbsp;<%= data.date.toDateString() %>
          </div>
        </header>

        <!-- Post Content -->
        <div class="entry-content">
          <p>
            Sastidia eloquentiam eailud dolorem nec. Easmdaet solum equidem. Vix
            at aquod onium fuisset. uramt ornatus asueverit hiseat, malona swaer
            kanebimra laudel. Mxcrecusa bore tarue simil maque, velit elit
            primse labitur Donec vitae libero manid commune viscua apetirme
            moderatius, dilamo contentiones. Euoratio aliqua matarcum. Vis
            soluma numquam ut, eos senis moderatiuse quare endum referrentur no,
            adsed feriane eitr invidunt. Repudire adver sarium vitua weratoribus
            pelaina derint kvani visas solum numqua turpis , facilis elentuma
            tellaus.
          </p>
          <p>
            <a
              href="https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/couple-768607_1280.jpg"
            ></a>
            Essent commune no definitionem viscu, apetere moderatius dilamo
            conteit ones ei pro.
            <em>Eu oratio aliquam salutatus</em>
            cum. Vis solum numquam ut, meos sens.&nbsp;ideratius quaerendum
            referrentur no, ad sed ferri elit raradversarium vituperatoribus vel
            ad, vix ut inciderint kvani delinoicatissimi.
            <br />
            Dico affert discere eos ei, pri at autem erant temporibus, eu sit
            ipsum mollis commune no definitionem viscu, apetere moderatius
            dilamo content riones prooratio aliquam salutatus cum. Vis solum
            numquam ut, eos senis, ferelita invidunt.Aliquam efficitur vel
            ligula et.
            <a href="#">Mordia</a>
            elo enim, sagittis nunc.Integer commodo faucibus aliquam.pretium
            vehiculas mullam ac urna puvi tempus quis, sodales mollis metus.
            Suspendisse potenti. Nullam consectetur estnisl. Nullam vitae elit
            consequat, molestie nisi ica, venenatis nulla&nbsp;ligula ut
            eleifend vulputate, massa ipsum mattis.ac bland itm at facilisis
            nibh, eget semper dolor.Cras id lectus sed arcu volutpat tincidunt.
            Nam hendrerit porta ligula.
          </p>
          <ul>
            <li>Etiam eget enim vitae elit!</li>
            <li>Nam semper nulla at turpis!</li>
            <li>Donec vestibulum ante at nibh!</li>
          </ul>
          <div class="row mb-4">
            <div class=" col-lg-4 col-md-6">
              <a
                title="photo-13"
                href="https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/people-516372_1280/"
              >
                <img
                  src="https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/people-516372_1280.jpg"
                  class="attachment-large size-large w-100"
                  alt="Image"
                  decoding="async"
                  srcset="https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/people-516372_1280.jpg 900w, https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/people-516372_1280-300x200.jpg 300w, https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/people-516372_1280-768x512.jpg 768w, https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/people-516372_1280-825x550.jpg 825w"
                />
              </a>
            </div>
            <div class="col-lg-4 col-md-6">
              <a
                title="leather-jacket"
                href="https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/leather-jacket-690316_1280/"
              >
                <img
                  src="https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/leather-jacket-690316_1280.jpg"
                  class="attachment-large size-large w-100"
                  alt="Image"
                  decoding="async"
                  srcset="https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/leather-jacket-690316_1280.jpg 900w, https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/leather-jacket-690316_1280-300x200.jpg 300w, https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/leather-jacket-690316_1280-768x512.jpg 768w, https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/leather-jacket-690316_1280-825x550.jpg 825w"
                />
              </a>
            </div>
            <div class=" col-lg-4 col-md-6">
              <a
                title="guess-attic"
                href="https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/guess-attic-837156_1280-2/"
              >
                <img
                  src="https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/guess-attic-837156_1280.jpg"
                  class="attachment-large size-large w-100"
                  alt="image"
                  decoding="async"
                  loading="lazy"
                  srcset="https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/guess-attic-837156_1280.jpg 900w, https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/guess-attic-837156_1280-300x200.jpg 300w, https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/guess-attic-837156_1280-768x512.jpg 768w, https://infinitythemes.ge/aden-examples/wp-content/uploads/2015/09/guess-attic-837156_1280-420x280.jpg 420w"
                />
              </a>
            </div>
            <div style="clear: both"></div>
          </div>
          <p>
            Integer nec turpis at justo rutrum viverra. Duis hendrerit, mi in
            tempor ultricies, mi dolor commodo lectus, at imperdreta
            pellentesque quis mi odio. Nulla facilisis velit sit amet diam
            placerat, vel tristique sapien consectetur. Donec euismodtior
            sodales, suscipit tellus ac, tincidunt libero. Donec iaculis justo
            <a href="#">dapibus</a>
            vulputate.
          </p>

          <h4>A girl should be two things: classy and fabulous.</h4>
          <p>
            Pellentesque venenatis ut erat a feugiat. Aliquam eros eros,
            ultricies nec est a, tristique sagittis leo. Sed biben idualesuada
            Aenean ut diam dolor. Cum sociis natoque penatibus et magnis dis
            <strong>parturient montes</strong>
            masctur ridiculus mus. Praesa rcia blandit turpis in, iaculis arcu.
            Vestibulum libero est, gravida et scelerisque sed, consectetur non
            nibh. Suspendisse mdiane mauris. Vivamus maximus lorem mollis eros
            tristique, quis fringilla quam consectetur. Aliquam libero neque,
            convuis bisd hasellus tempus ullamcorper sem.
          </p>
        </div>
        <div class="meta-author-description row mt-4">
          <div class="author-avatar d-inline-block col-lg-2 col-md-2 col-sm-2">
            <img
              alt="Image"
              src="https://secure.gravatar.com/avatar/59836f8f9d119831bcac3680b0473696?s=110&amp;d=mm&amp;r=g"
              srcset="https://secure.gravatar.com/avatar/59836f8f9d119831bcac3680b0473696?s=220&amp;d=mm&amp;r=g 2x"
              class="avatar avatar-110 photo rounded-circle"
              height="110"
              width="110"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div class="author-info col-lg-10 col-md-10 col-sm-10">
            <h4>
              <a
                href="https://infinitythemes.ge/aden-examples/author/admin/"
                title="Posts by admin"
                rel="author"
              >
                admin
              </a>
            </h4>
            <p>
              Lorem ipsum dolor sit amet, tibique explicari ius in, pri ea
              putant per petua consectetuer. Assum odesset haslum facilisis. An
              mel tollit habemus. Per ut illud epicuri, accusata rationibus
              rsequeris te viperpetua aliquando, duis adipisci pri nulla honcus
              arcu placerat vehicula.
            </p>
          </div>
        </div>
        <div class="meta-author-description row mt-4">
          <div class="author-avatar d-inline-block col-lg-2 col-md-2 col-sm-2">
            <img
              alt="Image"
              src="https://secure.gravatar.com/avatar/59836f8f9d119831bcac3680b0473696?s=110&amp;d=mm&amp;r=g"
              srcset="https://secure.gravatar.com/avatar/59836f8f9d119831bcac3680b0473696?s=220&amp;d=mm&amp;r=g 2x"
              class="avatar avatar-110 photo rounded-circle"
              height="110"
              width="110"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div class="author-info col-lg-10 col-md-10 col-sm-10">
            <h4>
              <a
                href="https://infinitythemes.ge/aden-examples/author/admin/"
                title="Posts by admin"
                rel="author"
              >
                admin
              </a>
            </h4>
            <p>
              Lorem ipsum dolor sit amet, tibique explicari ius in, pri ea
              putant per petua consectetuer. Assum odesset haslum facilisis. An
              mel tollit habemus. Per ut illud epicuri, accusata rationibus
              rsequeris te viperpetua aliquando, duis adipisci pri nulla honcus
              arcu placerat vehicula.
            </p>
          </div>
        </div>
                <div class="meta-author-description row mt-4">
          <div class="author-avatar d-inline-block col-lg-2 col-md-2 col-sm-2">
            <img
              alt="Image"
              src="https://secure.gravatar.com/avatar/59836f8f9d119831bcac3680b0473696?s=110&amp;d=mm&amp;r=g"
              srcset="https://secure.gravatar.com/avatar/59836f8f9d119831bcac3680b0473696?s=220&amp;d=mm&amp;r=g 2x"
              class="avatar avatar-110 photo rounded-circle"
              height="110"
              width="110"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div class="author-info col-lg-10 col-md-10 col-sm-10">
            <h4>
              <a
                href="https://infinitythemes.ge/aden-examples/author/admin/"
                title="Posts by admin"
                rel="author"
              >
                admin
              </a>
            </h4>
            <p>
              Lorem ipsum dolor sit amet, tibique explicari ius in, pri ea
              putant per petua consectetuer. Assum odesset haslum facilisis. An
              mel tollit habemus. Per ut illud epicuri, accusata rationibus
              rsequeris te viperpetua aliquando, duis adipisci pri nulla honcus
              arcu placerat vehicula.
            </p>
          </div>
        </div>
      </article>
    </div>

    <aside class="main-sidebar">
      <div id="search-2" class="adenit-widget widget_search">
        <div class="widget-title line-through"><h3>search</h3></div>
        <div class="search">
          <form action="/search" method="POST" role="search">
            <input
              id="s"
              class="search_input"
              type="text"
              name="searchTerm"
              maxlength="30"
              placeholder="Search..."
            />
            <button type="submit" class="submit button" name="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
      <div
        id="custom_html-4"
        class="widget_text adenit-widget widget_custom_html"
      >
        <div class="widget-title"><h3>Instagram</h3></div>
        <div class="textwidget custom-html-widget instagram">
          <div class="instagram-grid">
            <img
              src="https://infinitythemes.ge/images/instagram/9.jpg"
              alt="Image 1"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/8.jpg"
              alt="Image 2"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/7.jpg"
              alt="Image 2"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/6.jpg"
              alt="Image 2"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/5.jpg"
              alt="Image 2"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/4.jpg"
               alt="Image 2"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/3.jpg"
              alt="Image 2"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/2.jpg"
               alt="Image 2"
            />
            <img
              src="https://infinitythemes.ge/images/instagram/1.jpg"
              alt="Image 2"
            />
          </div>
        </div>
      </div>
      <div id="categories-3" class="adenit-widget widget_categories">
        <div class="widget-title"><h3>Categories</h3></div>
        <ul>
          <li class="cat-item cat-item-2">
            <a
              href="https://infinitythemes.ge/aden-examples/category/creative/"
            >
              Creative
            </a>
            (3)
          </li>
          <li class="cat-item cat-item-3">
            <a href="https://infinitythemes.ge/aden-examples/category/fashion/">
              Fashion
            </a>
            (1)
          </li>
          <li class="cat-item cat-item-4">
            <a
              href="https://infinitythemes.ge/aden-examples/category/lifestyle/"
            >
              Lifestyle
            </a>
            (2)
          </li>
          <li class="cat-item cat-item-5">
            <a href="https://infinitythemes.ge/aden-examples/category/nature/">
              Nature
            </a>
            (4)
          </li>
          <li class="cat-item cat-item-6">
            <a href="https://infinitythemes.ge/aden-examples/category/travel/">
              Travel
            </a>
            (2)
          </li>
        </ul>
      </div>
      <div id="text-2" class="adenit-widget widget_text">
        <div class="textwidget">
          <img
            src="https://www.infinitythemes.ge/aden/wp-content/uploads/2015/12/banner-2.jpg"
            alt="banner"
          />
        </div>
      </div>
      <div id="tag_cloud-2" class="adenit-widget widget_tag_cloud">
        <div class="widget-title"><h3>tag cloud</h3></div>
        <div class="tagcloud">
          <a
            href="https://infinitythemes.ge/aden-examples/tag/beauty/"
            class="tag-cloud-link tag-link-7 tag-link-position-1"
            style="font-size: 19.2pt"
            aria-label="beauty (5 items)"
          >
            beauty
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/bicycle/"
            class="tag-cloud-link tag-link-8 tag-link-position-2"
            style="font-size: 8pt"
            aria-label="bicycle (1 item)"
          >
            bicycle
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/health/"
            class="tag-cloud-link tag-link-10 tag-link-position-3"
            style="font-size: 12.2pt"
            aria-label="Health (2 items)"
          >
            Health
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/holidays/"
            class="tag-cloud-link tag-link-11 tag-link-position-4"
            style="font-size: 17.333333333333pt"
            aria-label="Holidays (4 items)"
          >
            Holidays
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/inspiration/"
            class="tag-cloud-link tag-link-12 tag-link-position-5"
            style="font-size: 22pt"
            aria-label="inspiration (7 items)"
          >
            inspiration
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/music/"
            class="tag-cloud-link tag-link-13 tag-link-position-6"
            style="font-size: 8pt"
            aria-label="music (1 item)"
          >
            music
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/quote/"
            class="tag-cloud-link tag-link-14 tag-link-position-7"
            style="font-size: 8pt"
            aria-label="quote (1 item)"
          >
            quote
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/sunset/"
            class="tag-cloud-link tag-link-15 tag-link-position-8"
            style="font-size: 8pt"
            aria-label="sunset (1 item)"
          >
            sunset
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/swim/"
            class="tag-cloud-link tag-link-16 tag-link-position-9"
            style="font-size: 8pt"
            aria-label="swim (1 item)"
          >
            swim
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/time/"
            class="tag-cloud-link tag-link-17 tag-link-position-10"
            style="font-size: 8pt"
            aria-label="time (1 item)"
          >
            time
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/trendy/"
            class="tag-cloud-link tag-link-18 tag-link-position-11"
            style="font-size: 15pt"
            aria-label="trendy (3 items)"
          >
            trendy
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/weekend/"
            class="tag-cloud-link tag-link-19 tag-link-position-12"
            style="font-size: 12.2pt"
            aria-label="weekend (2 items)"
          >
            weekend
          </a>
          <a
            href="https://infinitythemes.ge/aden-examples/tag/women/"
            class="tag-cloud-link tag-link-20 tag-link-position-13"
            style="font-size: 12.2pt"
            aria-label="women (2 items)"
          >
            women
          </a>
        </div>
      </div>
    </aside>

    <div class="clear"></div>
  </div>
</div>
