<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Registration</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LznLKF5fFWFB9A+PpLXR1lu4jmpXWu80pZlRyUAfyK1G9jFNjEW6iDIDjCU9e/k"
      crossorigin="anonymous"
    />
    <!-- Custom Styles -->
    <style>
      body {
        background-color: #f0f2f5;
        font-size: 16px;
      }
      .registration-card {
        max-width: 500px;
        width: 100%;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
      }
      .registration-card .card-header {
        background-color: #272a35;
        color: #ffffff;
        padding: 30px;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .registration-card .card-body {
        padding: 30px;
      }
      .form-control {
        height: 45px;
        font-size: 16px;
      }
      .btn-success {
        height: 45px;
        font-size: 16px;
        background-color: #272a35;
        border: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center align-items-center min-vh-100">
        <div class="registration-card">
          <div class="card">
            <div class="card-header">
              <h2>Admin Registration</h2>
            </div>
            <div class="card-body">
              <form action="/register" method="POST">
                <div class="mb-4">
                  <label for="username" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    required
                    name="username"
                  />
                </div>
                <div class="mb-4">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-success w-100">
                  Register
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQ5v3pSxtX5e2oP4JnE/jkrFddBHg9iYhSW4JfKFwZC39jtOJaUgFuDf6/0WJt4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
