<h1>Search Result</h1>

<% data.forEach(post => { %>
        <div class="col-sm-6 mt-4">
          <div class="entry-standard">
            <figure class="entry-thumbnail">
              <a
                href="/post/<%= post._id %>"
              ></a>
              <img src="<%= post.img %>" alt="" />
            </figure>
          </div>

          <header class="entry-header">
            <div class="meta-categories">
              <a
                href="https://infinitythemes.ge/aden-examples/category/nature/"
                rel="category tag"
                class="text-black"
              >
                <%= post.category %>
              </a>
              <h2 class="post-title">
                <a
                  class="fs-2 fw-normal text-capitalize"
                   href="/post/<%= post._id %>"
                >
                  <%= post.title %>
                </a>
              </h2>
            </div>
          </header>
          <div class="entry-content">
            <p class="drop-cap"><%= post.body %></p>
          </div>
          <footer class="entry-footer text-center mt-4">
            <div class="meta-share-wrap">
              <div class="meta-author-date">
                <a
                  href="https://infinitythemes.ge/aden-examples/author/admin/"
                  rel="author"
                >
                  admin
                </a>
                &nbsp;/&nbsp; <%= post.date.toDateString() %>
              </div>
              <div class="meta-share">
                <a
                  class="facebook-share"
                  target="_blank"
                  href="https://www.facebook.com/sharer/sharer.php?u=https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/"
                >
                  <i class="fa fa-facebook"></i>
                  <span class="share-info">Facebook</span>
                </a>

                <a
                  class="twitter-share"
                  target="_blank"
                  href="https://twitter.com/intent/tweet?text=Discover%20Your%20Style&amp;url=https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/"
                >
                  <i class="fa fa-twitter"></i>
                  <span class="share-info">Twitter</span>
                </a>

                <a
                  class="googleplus-share"
                  target="_blank"
                  href="https://plus.google.com/share?url=https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/"
                >
                  <i class="fa fa-google-plus"></i>
                  <span class="share-info">Google +</span>
                </a>

                <a
                  class="linkedin-share"
                  target="_blank"
                  href="http://www.linkedin.com/shareArticle?url=https://infinitythemes.ge/aden-examples/2015/09/27/standart-post/&amp;title=Discover%20Your%20Style"
                >
                  <i class="fa fa-linkedin"></i>
                  <span class="share-info">Linkedin</span>
                </a>

                <a
                  class="tumblr-share"
                  target="_blank"
                  href="http://www.tumblr.com/share/link?url=https%3A%2F%2Finfinitythemes.ge%2Faden-examples%2F2015%2F09%2F27%2Fstandart-post%2F&amp;name=Discover+Your+Style&amp;description=Donec+enim+eros%2C+lacinia+hendrerit+interdum+vitae%2C+porta+eget+dui.+Sed+purus+eros%2C+varius+facilisis+velit+mal+adplmia+tincidunt+sapien.+Donec+porta+erat+nunc%2C+vel+facilisis+purus+placerat+vel.+Nunc+accumsan+tristique+orci%2C+at+feugiaet+nornaritor+ut.+Donec+iaculis+varius+ligula%2C+eget+condim+nientum+nisl+tincidunt+ac.+Donec+vitae+libermo+nacormune+no+defint+oneim+viscu%2C+apetere+moderatius+conten+tones+proue+oratio+aliquam+salutatus+cuma.+Vis+solum+nuquamt%2C+senisa+moderatius+quaer+nidum+refer+entur+no%2C+adse+elitra+invidunt.+Repudiare+adver+sarium+vitup+eratoribus+velain+cidlent+kvani+olum+num+quam+ut%2C+eosenis.+Esent+comune+no+tionem+viscu%2C+apetere+moderatius+dilamo+conteionres+kien+eipro.+Eu+oratio+aliquam+adsed+ferri+elitr+invidunt...."
                >
                  <i class="fa fa-tumblr"></i>
                  <span class="share-info">Tumblr</span>
                </a>
              </div>
            </div>
          </footer>
        </div>
<% }) %>

