.simple-image, textarea {
    padding: 15px 7px;
    width: 100%;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    margin-top: 20px;
}

.simple-image img {
    max-width: 100%;
    margin-bottom: 15px;
}

#save-button {
    display: block;
    margin: auto;
    width: 80px;
    margin-bottom: 20px;
}