

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Style for the slide container */
.swiper-slide {
    position: relative;
}

/* Style for the image to make it responsive */
.d-block.w-100 {
    width: 100%;
    height: auto;
}

/* Style for the information/caption */
.infor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    max-width: 90%; /* prevent caption from occupying full width */
}

/* Display the information/caption for all viewport sizes */
.d-none.d-md-block {
    display: block;
}
.carousel-item-info {
    display: inline-block;
    width: 80%;
    padding: 5px;
}
.carousel-category {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    font-weight: 600;
    font-family: 'Open Sans';
    text-transform: uppercase;
    overflow: hidden;
    color: #fff;
}
.carousel-category a {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
}
.carousel-category a:hover {
    color: #c7a770;
}
.carousel-category a:first-child:before, .carousel-category a:last-child:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 15px;
    height: 1px;
    border-bottom: 1px solid #ffffff;
}

.carousel-category a:before {
    right: 100%;
    margin-right: 5px;
}
.carousel-category a:after {
    left: 100%;
    margin-left: 5px;
}

.carousel-title {
    font-size: 41px;
    letter-spacing: 0.5px;
    line-height: 44px;
    margin-bottom: 16px;
    font-family: 'Playfair Display';
}
.carousel-title a {
    color: #ffffff;
    text-decoration: none;
}

.carousel-date {
    font-family: 'Open Sans';
    font-size: 15px;
    color: #ffffff;
}

.carousel-comm-likes-wrap {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: -60px;
}
.carousel-comm-likes {
    display: inline-block;

}
.carousel-comment, .carousel-like {
    padding: 4px 6px;
}
.carousel-comment, .carousel-like {
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    text-align: center;
    transition: border 200ms ease-in-out 0s;
}
.carousel-like {
    float: left;
    margin-right: 15px;
}
.carousel-comment {
    float: left;
    top: -5px;
}
.carousel-like span:first-child, .carousel-comment span:first-child {
    display: block;
    position: absolute;
    top: -20px;
    left: 0px;
    width: 100%;
    text-align: center;
}
.carousel-like a, .carousel-comment a {
    font-size: 14px;
    color: #fff;
}
.carousel-item-info:hover .carousel-comm-likes-wrap {
    bottom: 0;
}

@media screen  and (max-width: 576px ) {
    .carousel-quote p {
        font-size: 15px;
    }
}
