/* footer */
.footer-wrap {
    height: auto;
  }
  .inst-widget {
    position: relative;
  }
  .null-instagram-feed {
    display: inline-block;
    width: 100%;
  }
  
  .instagram-title, .footer-social a, .footer-social a i {
    color: #ffffff;
  }
  .footer-social, .instagram-title {
    background-color: #333333;
  }
  .instagram-title {
    position: absolute;
    z-index: 110;
    opacity: 0.95;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 14px;
  }
  .instagram-title h3 {
    font-family: 'Open Sans';
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 35px;
    padding: 0px 10px;
    text-align: center;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
  }
  
  .inst-widget  .textwidget {
    margin-bottom: -18px;
  }
  
  ol, ul {
    list-style: none;
  }
  
  .null-instagram-feed {
    padding: 0;
  }
  .null-instagram-feed li a {
    float: left;
    overflow: hidden;
  }
  
  .null-instagram-feed li a img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  .footer-instagram .null-instagram-feed li a {
    margin-right: 0px;
    margin-bottom: -3px;
  }
  
  @media screen and (max-width: 979px){
    .social-info {
      display: none !important;
    }
  }
  
  @media only screen and (max-width: 768px){
    .inst-widget .null-instagram-feed li a, .inst-widget #sbi_images .sbi_item {
      width: 25% !important;
  }
  
  }
  
  .footer-social {
    text-align: center;
    padding: 20px 0px;
  }
  
  .footer-social .social-info {
    display: inline-block;
  }
  
  
  .footer-social a {
    margin-right: 20px;
  }
  .footer-social a i {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    margin-right: 10px;
  }
  .footer-social a span {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .footer-widget-area, .footer-bottom {
    background-color: #242424;
  }
  .footer-widget-area {
    padding-top: 50px;
    overflow: hidden;
  }
  .footer-bottom {
    font-family: 'Open Sans';
    text-align: center;
    padding-bottom: 70px;
    width: 100%;
  }
  .footer-bottom  > .center-max-width {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .footer-logo a {
    max-width: 350px;
  }
  
  .footer-logo a {
    display: block;
    margin: 0 auto;
  }
  .footer-logo a img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  .footer-bottom p {
    color: #ffffff;
  }
  
  .scrolltotop, .copyright a {
    color: #c7a770;
  }
  .scrolltotop i {
    font-size: 24px;
  } 
 @media screen and (max-width: 480px) {
  .footer-social{
    display: none;
  }
 }