/* header top*/
.header-top {
    background-color: #262626;
    height: 45px;
    text-align: center;
  }
  .header-top .center-max-width {
    position: relative;
  }
  .center-max-width {
    max-width: 1180px;
    margin: 0 auto;
  }
  .header-btns {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
  }
  .search-btn,
  .fixed-sidebar-btn {
    padding: 0 15px;
    display: block;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    float: right;
  }
  .search-btn {
    color: #ffffff;
    background-color: #262626;
  }
  .fixed-sidebar-btn {
    color: #444444;
    background-color: #ffffff;
  }
  
  .top-nav {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
  }
  ol,
  ul {
    list-style: none;
  }
  .top-nav > ul > li {
    float: left;
    list-style: none;
  }
  .top-nav ul li {
    position: relative;
  }
  .top-nav > ul > li > a,
  .header-top-social a i {
    color: #ffffff;
  }
  
  .top-nav > ul > li > a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
  }
  .top-nav ul li a {
    display: block;
    position: relative;
    padding-right: 15px;
    line-height: 45px;
  }
  .top-nav ul li a i {
    font-size: 16px;
    padding-right: 6px;
  }
  .header-top-social a:first-child {
    margin-left: 0;
  }
  .header-top-social a {
    text-decoration: none;
    margin-left: 15px;
    font-size: 13px;
    line-height: 45px;
  }
  .social-info {
    display: none;
  }
  @media screen and (max-width: 720px) {
    .header-top,
    .fixed-header-bottom {
      padding: 0px 30px !important;
      display: none;
    }
    .logo a img{
      width:100%;
    }
  }
  /* header center */
  .header-center {
    background-image: url(https://infinitythemes.ge/aden-examples/wp-content/uploads/2016/01/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
  }
  .logo {
    max-width: 700px;
    margin: 0 auto;
    height: auto;
  }
  
  .header-center > .center-max-width {
    height: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-center {
    display: flex;
    justify-content: center; /* Aligns items horizontally to the center */
    align-items: center;     /* Aligns items vertically to the center */
  }
  
  
  @media screen and (max-width: 720px) {
    .header-center  > .center-max-width{
      height: auto;
      padding: 50px 0;
  }
  
  .logo img {
      max-width: 100%; /* Ensure the image doesn't overflow the container */
      height: auto; /* Maintain the aspect ratio */
  }
  }
  
  /* header bottom */
  .header-bottom > .center-max-width {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


  .navbar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  .navbar button {
    border: none;
  }

  .dropdown {
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: "Oswald";
    line-height: 30px;
    font-weight: 800;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
@media screen and (max-width: 480px){
}