body {
  padding: 0;
  margin: 0;
  border: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* main content */
.text-container {
  position: relative;
  display: block;
}

.text-container::after {
  content: "";
  position: absolute;
  bottom: -15px; /* Adjust to position the line correctly */
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ececec; /* Line color */
}

.carousel-quote p {
  margin: 0 auto;
  font-size: 22px;
  font-family: "Oswald";
}

.main-container-wrap {
  margin: 60px 0px;
  height: 100%;
}
.main-container {
  width: 70%;
  float: left;
  font-family: "Playfair Display";
}
article {
  width: 100%;
  margin-right: 30px;
  margin-bottom: 40px;
}
.entry-thumbnail img {
  display: block;
  height: auto;
  max-width: 100%;
}
.meta-categories a {
  position: relative;
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 7px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  overflow-wrap: break-word;
  text-align: center;
  color: #111111;
}
.post-title a {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}
.meta-author-date {
  color: #aaaaaa;
  text-align: center;
  font-size: 15px;
  margin-bottom: 23px;
  font-family: "Open Sans";
}
.meta-author-date a {
  text-transform: capitalize;
  color: #c7a770;
  display: inline-block;
  text-decoration: none;
}

.col-1 .read-more {
  margin-top: 19px;
  margin-bottom: 30px;
}
.read-more a {
  background-color: #333333;
  color: #ffffff;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Open Sans";
  padding: 0 22px;
  line-height: 45px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}
.meta-share-wrap .meta-share {
  display: inline-block;
  position: relative;
}
.meta-share a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #aaaaaa;
  border-color: #e8e8e8;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}
.meta-share a:nth-child(n) {
  margin-right: 30px;
}
.share-info {
  display: none;
}

/* navigation */
.numbered-pagination {
  text-align: left;
}
.numbered-pagination span,
.numbered-pagination a {
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
}

/* main sidebar */
.main-container + .main-sidebar {
  padding-left: 30px;
  padding-right: 0;
}
.main-sidebar {
  width: 30%;
  float: right;
}
.main-sidebar .adenit-widget {
  margin-bottom: 45px;
}
.adenit-widget {
  position: relative;
  left: 0;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 24.27px;
  overflow: hidden;
  overflow-wrap: break-word;
}
.widget-title {
  position: relative;
  z-index: 0;
  font-family: "Playfair Display";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 5px;
  clear: both;
  overflow: hidden;
}
.widget-title h3 {
  display: inline-block;
  position: relative;
  font-size: 16px;
}
.widget-title h3:before,
.widget-title h3:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e8e8e8;
}
.widget-title h3:before {
  right: 100%;
  margin-right: 15px;
}
.widget-title h3:after {
  left: 100%;
  margin-left: 15px;
}
.search {
  position: relative;
}
.search #s {
  width: 100%;
  height: 45px;
  padding-left: 10px;
  font-family: "Open Sans";
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: #e8e8e8;
}
input:focus {
  border: none; /* Removes the border on focus */
  outline: none; /* Removes the default browser outline on focus */
}
.search .submit {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 45px;
  line-height: 45px;
  padding: 0px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* insta */
.instagram {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 600px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instagram-grid h1 {
  grid-column: 1 / span 3;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.instagram-grid img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}
/* widget */
.widget_categories > ul > li {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  line-height: 45px;
  color: #aaaaaa;
}
.widget_categories > ul > li > a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}
/* tag cloud */
.tagcloud a {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 4px 12px;
  font-size: 12px !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
}

.meta-categories a:hover,
.adenit-widget ul li > a:hover,
#wp-calendar tfoot #prev a:hover,
#wp-calendar tfoot #next a:hover,
.adenit-widget ul li span a:hover,
.carousel-title a:hover,
a,
.adenit-breadcrumbs a:hover,
.adenit-breadcrumbs .breadcrumb_last,
.comment-author a:hover,
.carousel-comment:hover a,
.carousel-like:hover a,
.meta-author-date a,
.meta-tags a:hover,
.meta-like-comm a:hover,
.page-links a,
.adenit-breadcrumbs li strong,
.related-posts h4 a:hover,
.single-pagination-info:hover h4,
.entry-content p a:hover,
.wp-block-latest-posts a:hover,
.wp-block-categories a:hover,
.wp-block-archives a:hover,
.wp-block-latest-comments__comment-author:hover,
.wp-block-latest-comments__comment-link:hover,
.entry-content ul > li a:not(.wp-block-button__link):hover,
.comment-text em {
  color: #c7a770;
}
.carousel-comment:hover,
.carousel-like:hover,
.meta-categories a:before,
.meta-categories a:after,
.instagram-title h3,
.entry-content blockquote,
.wp-block-button.is-style-outline .wp-block-button__link:hover {
  border-color: #c7a770;
}
.drop-cap::first-letter {
  font-family: "Playfair Display";
  float: left;
  font-size: 76px;
  line-height: 63px;
  text-align: center;
  margin: 0px 10px 0 0;
}

@media screen and (max-width: 980px) {
  .main-container {
    width: 100%;
    font-family: "Playfair Display";
    padding: 20px;
  }
  .main-sidebar {
    width: 100%;
  }
  .entry-thumbnail img {
    width: 100%;
  }
  .meta-share-wrap {
    margin-bottom: 20px;
  }
  .main-container + .main-sidebar {
    /* padding-left: 30px; */
    padding: 20px;
  }
  .widget_categories ul {
    margin-left: -16px;
  }
  .textwidget img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}
